
#chat-container {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    height: 400px;
    overflow-y: scroll;
}
ul {
  border: solid 1px #213652;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #userdes:disabled{
    width: 100%;
    display: flex;
    justify-content: left;
    background-color: #213652;
    padding: 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  li {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #213652;
    padding: 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .lclick{
    background-color: white;
    color: #213652;
  }
  li:hover {
    background-color: #ede9f1;
    color: rgb(20, 20, 20);
  }
  
.contenedor{
    min-height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#contacts-container {
    width: 20%;
    min-width: 150px;
    border: 1px solid #ccc;
    padding: 10px;
    height: auto;
    overflow-y: scroll;
    flex-direction: column;
}


#message-input {
    width: 70%;
    min-height: 30px;
    padding: 5px;
}

#send-button {
    width: 30%;
    padding: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
.chatConteiner{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.row{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: none;
    border: 1px solid #ccc;
    padding: 10px;
    height: auto;
    overflow-y: scroll;
  }

  /* Estilos para el botón de cerrar sesión */
.logout-button {
  padding: 10px 15px;
  background-color: #ff5959; /* Color de fondo */
  color: #fff; /* Color del texto */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #d83c3c; /* Cambiar el color de fondo al pasar el ratón */
}
