
#chat-container {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    height: 400px;
    overflow-y: scroll;
    flex-direction: column;
}
ul {
  border: solid 1px #213652;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #userdes:disabled{
    width: 100%;
    display: flex;
    justify-content: left;
    background-color: #213652;
    padding: 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  li {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #213652;
    padding: 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .lclick{
    background-color: white;
    color: #213652;
  }
  li:hover {
    background-color: #ede9f1;
    color: rgb(20, 20, 20);
  }
  
.contenedor{
    max-height: 80%;
    min-height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#contacts-container {
    width: 20%;
    min-width: 150px;
    border: 1px solid #ccc;
    padding: 10px;
    height: auto;
    overflow-y: scroll;
    flex-direction: column;
}
#toggleButton1,#toggleButton2 {
  display: block;
  width: 2rem;
  height: 2rem;
  background-color: blue;
  margin-bottom: 10px;
}

#contacts-container.collapsed {
  max-height: 500px; 
  display: none;
}

#message-input {
    width: 70%;
    min-height: 30px;
    padding: 5px;
}

#send-button {
    width: 30%;
    padding: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
.chatConteiner{
    display: flex;
    width: 100%;
    flex-direction: column;
    max-height: 80%;
    overflow-y: scroll;
}
.row{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: none;
    border: 1px solid #ccc;
    padding: 10px;
    height: auto;
    overflow-y: scroll;
  }

  /* Estilos para el botón de cerrar sesión */
.logout-button {
  padding: 10px 15px;
  background-color: #ff5959; /* Color de fondo */
  color: #fff; /* Color del texto */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #d83c3c; /* Cambiar el color de fondo al pasar el ratón */
}
#chat-container div {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  max-width: 100%;
}


#chat-container .destinatario {
  min-width: 21%;
  display: flex;
  flex-direction: column; /* Cambiado a column para apilar elementos verticalmente */
  background-color: #008CBA; /* Color de fondo de destinatario */
  color: white;
  float: left;
  margin-right: 30%;
}

#chat-container .remitente {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 21%;
  background-color: #4CAF50; /* Color de fondo de remitente */
  float: right; /* Cambiado a float: right para alinear a la derecha */
  margin-left: 30%;
}

#chat-container .mensaje-hora-destinatario,
#chat-container .mensaje-texto-destinatario,
#chat-container .mensaje-hora-remitente,
#chat-container .mensaje-texto-remitente {
  margin-top: 5px;
}

#chat-container .mensaje-hora-destinatario {
  font-size: 8px;
  color: #ffffff;
}

#chat-container .mensaje-texto-destinatario,
#chat-container .mensaje-texto-remitente {
  font-size: 14px;
  color: #070707;
}

#chat-container .mensaje-hora-remitente {
  font-size: 6px;
  color: #d4d3d3;
}
