
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat en Línea</title>
    <link rel="stylesheet" href="/css/chat.css" />
    <link rel="stylesheet" href="/sweet/sweetalert2.min.css">
    <script src="/sweet/sweetalert2.min.js"></script>
    <script src="/js/Alertas.js"></script>
  </head>
  <body>
    <% if (typeof mensaje !== 'undefined') { %>
      <script>
        AlertaExitoso("<%= mensaje %>")
      </script>
    <% } %>
    <div class="contenedor" >
      <div id="contacts-container">
        <h2>Contactos</h2>
        <ul>
          <% usuarios.forEach(usuario => { %>
            <li value="<%= usuario.id %>"><%= usuario.nombre %></li>
          <% }); %>
        </ul>
      </div>      
      <div class="chatConteiner">
          <div class="row" id="destinatario">
            <label value="Nayelis" for="">Selecciona un usuario</label>
          </div>
          <div id="chat-container"></div>
          <div class="row">
              <input type="text" id="message-input" placeholder="Escribe un mensaje...">
              <button id="send-button">Enviar</button>
          </div>
      </div>
    </div>
  </body>
  <footer>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/js/SesionValidaciones.js"></script>
  </footer>
</html>
